{% extends "base.html" %}

<!-- Content -->
{% block content %}

<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">


    <div class="item active">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8760.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8611.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8683.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8598.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8784.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8516.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8590.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('https://s3-eu-west-1.amazonaws.com/tramuntana-images/DSC_8528.jpg');"></div>
      <!--<div class="carousel-caption">
                        <h2>Villa Arnau</h2>
                    </div>-->
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <!--<span class="icon-prev"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->

    <span>
                    <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                </span>


    <span class="sr-only">Previous</span>
  </a>


  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <!--<span class="icon-next"></span>-->
    <!--<span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>-->
    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->

    <span>
                    <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                </span>



    <span class="sr-only">Previous</span>
  </a>

</header>

<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <div class="row">

    <div class="description" id="about">

      <div class="col-md-8">

        <h1 class="page-header">Ca Na Lola
                        <span class="text-muted">The Cozy Cuddle</span>
                    </h1>
        <!--<div id="demo" class="collapse">-->
        <p class="">This beautiful 150 m² chalet is situated in a family-friendly area in the center of Inca, Mallorca. The splendorous swimming pool cares for your refreshment in the warm Mediterranean Summer. Together with the vivid garden makes your stance in
          the Balearic Islands a pleasant experience.
        </p>
        <p class="">
          It has enough room for you, your family or your friends. Can Na Lola has four bedrooms and three bathrooms, it's recommended for eight. Full of amenities, everything you need to accommodate the people you care about.
        </p>
        <!--</div>
                    <p class=""><a href="#demo" data-toggle="collapse">More...</a></p>-->

        <p>
          <a href="contact.html"><button type="button" class="btn btn-success outline-gold">Contact Us</button></a>
          <!--<button type="button" class="btn btn-default btn-lg">Large button</button>-->
        </p>

      </div>

      <div class="col-md-4">
        <dl>
          <dt>BEDS</dt>
          <dd>4</dd>
        </dl>

        <dl>
          <dt>BATHS</dt>
          <dd>3</dd>
        </dl>

        <dl>
          <small>TRAMUNTANA RENTAL PRICE</small>
          <dt>STARTING AT</dt>
          <dd>5.670 € per week</dd>
        </dl>
      </div>

    </div>

  </div>

  <!-- First Featurette -->
  <!--<div class="featurette" id="about">
                <img class="featurette-image img-circle img-responsive pull-right" src="//placehold.it/500x500">
                <h2 class="featurette-heading">This First Heading
                    <span class="text-muted">Will Catch Your Eye</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>-->

  <hr class="featurette-divider">

</div>

<!-- Second Featurette -->
<!--<div class="owl-carousel owl-theme">
    <img class="img-responsive" src="img/VILLA_ARNAU_2511.jpg">
    <img class="img-responsive" src="img/VILLA_ARNAU_2515.jpg">
    <img class="img-responsive" src="img/VILLA_ARNAU_2500.jpg">
    <img class="img-responsive" src="img/VILLA_ARNAU_1.jpg">
    <img class="img-responsive" src="img/VILLA_ARNAU_2551.jpg">
    <img class="img-responsive" src="img/VILLA_ARNAU_2491.jpg">
    <img class="img-responsive" src="img/VILLA_ARNAU_2507.jpg">
</div>-->

<div class="customer-hero">

  <div class="container ">

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
      <!--<img class="featurette-image img-circle img-responsive pull-right" src="https://commons.wikimedia.org/wiki/File:Carl_Benz.png#/media/File:Carl_Benz.png">-->

      <!--<img class="featurette-image img-responsive pull-left" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Carl_Benz.png" alt="Carl Benz.png" height="480" width="342">-->



      <blockquote class="pull-right">
        <i class="fa fa-quote-left fa-lg" aria-hidden="true"></i>
        <!--<p class="lead">Lo que más aprecio de Villa Nápoles es la sencillez de la arquitectura y la espectacular vista al mar.</p>-->
        <p class="lead">What I appreciate most about Can Na Lola<br> is the simplicity of the architecture<br> and the spectacular sea view.</p>

        <footer><strong>Carl Benz</strong> making holiday with Tramuntana Villas.
          <!--<cite title="Source Title">Villa Arnau</cite>--></footer>

      </blockquote>

      <!--<h2 class="featurette-heading">The Third Heading
<span class="text-muted">Will Seal the Deal.</span>
</h2>

<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->

    </div>

    <hr class="featurette-divider">

  </div>

</div>





<div class="container">

  <hr class="featurette-divider">

  <!-- Third Featurette -->
  <div class="featurette" id="contact">

    <!--
                <section>
                    <h2>Single date</h2>
                    <article>
                        <div class="date"></div>
                    </article>
                </section>


                <section>
                    <h2>Single date</h2>
                    <article>
                        <div class="single"></div>
                    </article>
                </section>
                -->

    <link rel="stylesheet" href="/vendor/pickmeup/pickmeup.css" />

    <section>
      <h2 class="featurette-heading text-center page-header">Availability
                        <!--<span class="text-muted">Will Seal the Deal.</span>-->
                    </h2>
      <article>
        <div class="three-calendars text-center"></div>
      </article>
    </section>

    <script src="vendor/pickmeup/pickmeup.min.js"></script>
    <script>
      /*
                                var plus_5_days = new Date;
                                plus_5_days.setDate(plus_5_days.getDate() + 5);

                                $('.three-calendars').pickmeup_twitter_bootstrap({
                                    flat      : true,
                                    date      : [
                                        new Date,
                                        plus_5_days
                                    ],
                                    mode      : 'range',
                                    calendars : 3
                                });*/

      var plus_5_days = new Date;
      plus_5_days.setDate(plus_5_days.getDate() + 34);

      pickmeup('.three-calendars', {
        flat: true,
        date: [
          new Date,
          plus_5_days
        ],
        mode: 'range',
        calendars: 3
      });

      /*
      pickmeup('input', {
          position       : 'right',
          hide_on_select : true
      });*/
    </script>

    <!--<img class="featurette-image img-circle img-responsive pull-right" src="//placehold.it/500x500">-->
    <!--<h2 class="featurette-heading">The Third Heading
                    <span class="text-muted">Will Seal the Deal.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->

    <!--<div class="calendar">

                    <header>

                        <h2>September</h2>

                        <a class="btn-prev fontawesome-angle-left" href="#"></a>
                        <a class="btn-next fontawesome-angle-right" href="#"></a>

                    </header>

                    <table>

                        <thead>

                            <tr>

                                <td>Mo</td>
                                <td>Tu</td>
                                <td>We</td>
                                <td>Th</td>
                                <td>Fr</td>
                                <td>Sa</td>
                                <td>Su</td>

                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td class="prev-month">26</td>
                                <td class="prev-month">27</td>
                                <td class="prev-month">28</td>
                                <td class="prev-month">29</td>
                                <td class="prev-month">30</td>
                                <td class="prev-month">31</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td class="event">10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td class="event">21</td>
                                <td>22</td>
                            </tr>

                            <tr>
                                <td class="current-day event">23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td class="next-month">1</td>
                                <td class="next-month">2</td>
                                <td class="next-month">3</td>
                                <td class="next-month">4</td>
                                <td class="next-month">5</td>
                                <td class="next-month">6</td>
                            </tr>

                        </tbody>

                    </table>

                </div>-->
    <!-- end calendar -->

    <!-- end container -->

  </div>
  <!-- /.container -->

  <hr class="featurette-divider">

</div>

<div class="featurette" id="contact">

  <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.972355660171!2d76.9339097153916!3d11.115436755882588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f693da1bc45d%3A0x113133208e99214a!2sRd%2C+Narasimhanaickenpalayam%2C+Gudalur%2C+Tamil+Nadu+641031%2C+Indien!5e0!3m2!1sde!2sde!4v1453081197842" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->

  <!--<div class="overlay" onClick="style.pointerEvents='none'"></div>-->


  <div class='embed-container maps'>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97962.11036925767!2d2.9977089148102762!3d39.889557935249776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297d5374b53f38d%3A0x6cd3cd11e191170e!2zMznCsDU0JzUyLjUiTiAzwrAwNScxOS4xIkU!5e0!3m2!1sde!2sde!4v1489074154323"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <p class="text-center text-muted"><small><i>Click the map to enable scroll</i></small></p>

</div>

<div class="container">

  <hr class="featurette-divider">

  <!-- Third Featurette -->
  <div class="featurette" id="contact">

    <h2 class="featurette-heading text-center page-header">Villa Details
                    <!--<span class="text-muted">Will Seal the Deal.</span>-->
                </h2>

    <!--<img class="featurette-image img-circle img-responsive pull-right" src="//placehold.it/500x500">

                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->

    <div class="row">
      <dl class="dl-horizontal">

        <div class="col-md-2">
          <dt><p class="lead text-left">Feautures</p></dt>

        </div>

        <div class="col-md-4">
          <dd>
            <ul class="list-unstyled">
              <li>Private pool</li>

              <li>Two-minute walk from the beach in Puerto Pollensa</li>

              <li>Privately situated</li>

              <li>Spacious lounge/diner</li>
            </ul>
          </dd>

        </div>

        <div class="col-md-4">
          <dd>
            <ul class="list-unstyled">
              <li>Fully fitted family kitchen</li>

              <li>En-suit with whirlpool bath</li>

              <li>Integrated reverse cycle air-conditioning system</li>
            </ul>
          </dd>

        </div>

      </dl>
    </div>

    <div class="row">
      <dl class="dl-horizontal">

        <div class="col-md-2">
          <dt><p class="lead text-left">Specifications</p></dt>

        </div>

        <div class="col-md-4">
          <dd>
            <ul class="list-unstyled">
              <li>BEDS 3-4</li>

              <li>BATHS 3.5 - 4.5</li>

              <li>FLOORS 2</li>
            </ul>
          </dd>

        </div>

        <div class="col-md-4">
          <dd>
            <ul class="list-unstyled">
              <li>SQUARE FT 3,558</li>

              <li>BUILDING AREA 67'-6" x 65'-11"</li>

              <li>CEILING HEIGHT Up to 13'</li>
            </ul>
          </dd>

        </div>

      </dl>
    </div>

    <div class="row">
      <dl class="dl-horizontal">

        <div class="col-md-2">
          <dt><p class="lead text-left">Pricing</p></dt>

        </div>

        <div class="col-md-4">
          <dd>
            <ul class="list-unstyled">
              <li>January</li>

              <li>February</li>

              <li>March</li>

              <li>April</li>

              <li>May</li>

              <li>June</li>
            </ul>
          </dd>

        </div>

        <div class="col-md-4">
          <dd>
            <ul class="list-unstyled">
              <li>July</li>

              <li>August</li>

              <li>September</li>

              <li>October</li>

              <li>November</li>

              <li>December</li>
            </ul>
          </dd>

        </div>

      </dl>
    </div>

  </div>

  <p class="text-center">
    <a href="contact.html"><button type="button" class="btn btn-success btn-lg outline-gold">Rent today</button></a>
  </p>

  <hr class="featurette-divider">

</div>

<div class="flow-hero">
  <div class="container">

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
      <!--<img class="img-responsive pull-right circular" src="img/VILLA_ARNAU_2497.jpg" height="500" width="500">-->
      <div class="circular pull-right"></div>
      <h2 class="featurette-heading">One Step More
                <span class="text-muted">For Your Dream Villa</span>
            </h2>
      <p class="lead">Rentting with Tramuntana Villas is easy. Contact us today for your next home in Mallorca.</p>
    </div>

    <p class="text-center">
      <a href="contact.html"><button type="button" class="btn btn-success btn-lg">Book now</button></a>
    </p>

    <hr class="featurette-divider">

  </div>
</div>

<div class="villa-footer"></div>

{% endblock %}
