{% extends "base.html" %}

<!-- Content -->
{% block content %}
<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="hero">
      <div class="container">
        <h1>Dream Location, Dream Villas</h1>
        <h2>Rent the best place to stay in exclusive Pollensa today</h2>
        <p>
          <a href="contact.html"><button type="button" class="btn btn-default btn-lg outline">Contact Us</button></a>
          <a href="villa-arnau.html"><button type="button" class="btn btn-success btn-lg">Luxury Villas</button></a>

        </p>
        <hr class="featurette-divider">
      </div>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <!--<img class="img-responsive pull-right circular" src="img/VILLA_ARNAU_2497.jpg" height="500" width="500">-->
    <div class="pull-right circular"></div>
    <h2 class="featurette-heading">Selected Properties
            <span class="text-muted">Your Best Choice</span>
        </h2>
    <p class="lead">We prescreen all villas to safe your time. It doesn't matter wich decision you make. Be confident; Tramuntana Villas will satisfy your highest you.</p>
  </div>
  <hr class="featurette-divider">

</div>

<!-- Second Featurette -->
<div class="owl-carousel owl-theme">
  <img class="img-responsive" src="img/VILLA_ARNAU_2511.jpg">
  <!--<img class="featurette-image img-responsive" src="img/VILLA_ARNAU_2549.jpg">-->
  <img class="img-responsive" src="img/VILLA_ARNAU_2515.jpg">
  <img class="img-responsive" src="img/VILLA_ARNAU_2500.jpg">
  <img class="img-responsive" src="img/VILLA_ARNAU_1.jpg">
  <img class="img-responsive" src="img/VILLA_ARNAU_2551.jpg">
  <img class="img-responsive" src="img/VILLA_ARNAU_2491.jpg">
  <img class="img-responsive" src="img/VILLA_ARNAU_2507.jpg">
</div>

<div class="container">

  <hr class="featurette-divider">

  <!-- Third Featurette -->
  <div class="featurette text-center" id="contact">
    <!--<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">-->
    <h2 class="featurette-heading">Premium Service
            <span class="text-muted">For All Your Needs</span>
        </h2>
    <p class="lead">You deserve it. Immerse in well being, let us do the rest.</p>

  </div>

  <hr class="featurette-divider">

</div>
<!-- /.container -->

<div class="rent-hero">
  <div class="container">

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
      <!--<img class="img-responsive pull-right circular" src="img/VILLA_ARNAU_2497.jpg" height="500" width="500">-->
      <h2 class="featurette-heading">Your Home
                <span class="text-muted">In Safe Hands</span>
            </h2>
      <p class="lead">You're a property owner? Rent with us your villa with Tramuntana's peace-of-mind guarantee.</p>
    </div>

    <p class="text-center">
      <a href="contact.html"><button type="button" class="btn btn-default btn-lg outline">Start today</button></a>
    </p>

    <hr class="featurette-divider">

  </div>
</div>

<div class="villa-footer"></div>
{% endblock %}
